# set vim as default editor
export EDITOR=/usr/bin/vim;

# silence bash deprecation warning on macOS
#export BASH_SILENCE_DEPRECATION_WARNING=1;

# silence locale warning on bash v5.3+
#export LC_COLLATE="C";
