[alias]
	b = branch --list --verbose --verbose
	c = checkout
	d = branch --delete
	f = fetch --all --append --prune --tags
	l = log --oneline --graph
	r = reset --soft
	s = status --short
	u = !git f && echo '-------' && git l origin~1..HEAD && echo '-------' && git s && echo '-------' && git b

[core]
	editor = vim

[pull]
	rebase = false
