[alias]
	a = branch --all --verbose
	b = branch --list
	c = checkout
	d = branch --delete
	f = fetch --all --append --prune
	l = log --pretty=oneline
	r = reset --soft
	s = status --short
	u = !git f && echo '-------' && git l -5 && echo '-------' && git a && echo '-------' && git s

[core]
	editor = vim

[pull]
	rebase = false
