[alias]
	b = branch --list --verbose --verbose
	c = checkout
	d = branch --delete
	f = fetch --all --append --prune --tags
	l = log --oneline --graph
	r = reset --soft
	s = status --short

	l-diff = !git l $([ "$(git rev-list --count origin)" -gt 1 ] && echo "origin^..")
	b-sync = !git f && echo '-------' && git l-diff && echo '-------' && git s && echo '-------' && git b

[core]
	editor = vim

[pull]
	rebase = false
